
<!-- ======== @Region: #content ======== -->
<div id="contentProject">
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><%= link_to "Analysis" ,analyses_path, :method => :get%></li>
      <li class="active">Project</li>
    </ol>
  <div class="container">
    <div class = "row">
        <div class="col-sm-12 col-md-4">
          <div class="panel panel-default">
              <!-- Default panel contents -->
            <div class="panel-heading">
              Analysis Title:&nbsp<%= @analysis.title %>
            </div>
            <div class="panel-body">
              <%= @analysis.details%>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12">
          <%= button_to '  New  ', new_pipeline_path,  :method => :get, :class => 'btn btn-primary'%>
          <p></p>
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
              <h4 class="panel-title"><i class="fa fa-cog fa-2x"></i>&nbsp Projects</h4>
            </div>
            <div class="panel-body">
              <p></p> <!-- Line Space -->
              <!-- Table --> 
              <div class="table-responsive">  
                <table id="table"  class="table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Comments</th>
                      <th>Last Update</th>
                      <th>Create At</th>
                      <th></th>
                    </tr>
                  </thead>
                  <% @pipelines.each do |pipeline| %>
                  <tr>
                    <td><%= pipeline.name %></td>
                    <td ><%= pipeline.comments %></td>
                    <td width="100px"><%= time_ago_in_words(pipeline.updated_at) %></td>
                    <td width="130px"><%= pipeline.created_at.strftime("%F %T") %></td>
                    <td width="280px">          
                      <%= link_to  "".html_safe, new_step_qa_path(:analysis_id => session[:analysis_id],:pipeline_id => pipeline,), :class => 'btn btn-info fa fa-cogs'%>  
                      <%= link_to "".html_safe, edit_pipeline_path(pipeline), :class => 'btn btn-primary fa fa-pencil'%>
                      <%= link_to "".html_safe, documents_path(:pipeline_id => pipeline), :class => 'btn btn-warning cancel fa fa-file'%>                    
                      <%= link_to "".html_safe ,pipeline_path(pipeline),
                      :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger fa fa-trash-o' %>
                    </td>
                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'dataTable/jquery-dataTables.js' %>
<script type="text/javascript">
    $(document).ready(function(){
      $("#table").dataTable({
      "aaSorting": [[0, "asc"]]
      });
    });
</script>
<style type="text/css">
    table { 
      table-layout: fixed;
      width: 100%
    }
</style>