<html>
<head>
    <title>3R by UFPR</title>

    <!-- @todo: fill with your company info or remove -->
    <meta name="description" content="">
    <meta name="author" content="veniciobr@gmail.com">

    <!-- Le fav and touch icons - @todo: fill with your icons or remove -->
    <%= favicon_link_tag '3R.ico' %>
  	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= csrf_meta_tags %>   
</head>
  <!-- ======== @Region: body ======== -->
<body class="page page-index" data-no-turbolink>

  <!-- ======== @Region: #navigation ======== -->
  <div id="navigation" class="wrapper">
   	<div class="navbar-static-top">
	     <!--Header upper region-->
	     <div class="header-upper">
	       <div class="header-upper-inner container">
		        <div class="row">
		          <div class="col-xs-8 col-xs-push-4">
			       
               <!--social media icons 
                <div class="social-media">
                  <!--@todo: replace with company social media details
                  <a href="#"> <i class="fa fa-twitter-square"></i> </a>
                  <a href="#"> <i class="fa fa-facebook-square"></i> </a>
                  <a href="#"> <i class="fa fa-linkedin-square"></i> </a>
                  <a href="#"> <i class="fa fa-google-plus-square"></i> </a>
                </div>
              -->

            	</div>
              <div class="col-xs-4 col-xs-pull-8">
                  <!--user menu-->
                  <div class="btn-group user-menu">
                    <% if user_signed_in? %>
                      <!--<a href="#login-modal" class="btn btn-link logout" data-toggle="modal"></a> -->  
                      <%= link_to "Logout", destroy_user_session_path, :method => 'delete', class:'btn btn-link login' %>
                      <%= link_to "Edit", edit_path, class:"btn btn-link login" %>
                      | 
                      <i class="fa fa-user"></i>                Logged in as <strong><%= current_user.first_name %></strong>

                    <% else %>
                      <%=link_to "Sign up", sign_up_path, :class => 'btn btn-link login' %>
                      <%=link_to "Login", sign_in_path, :class => 'btn btn-link login' %>
                    <% end %>
              	 </div>
          	   </div>
          	</div>
	        </div>  
	     </div>
      
      <!--Header search region - hidden by default -->
      
      <!--Header & Branding region-->
      <div class="header" data-toggle="clingify">
        <div class="header-inner container">
          <div class="navbar">
	            <div class="pull-left">
	              <!--branding/logo-->
	              <a class="navbar-brand" href="\">
	                <h1>
	                  <span>3</span>R<span>.</span>
	                </h1>
	              </a>
	              <div class="slogan">RNASeq R on Rails</div>
	            </div>
            
	            <!--Search trigger -->
	            <!--
	            <a href="#search" class="search-form-tigger" data-toggle="search-form" data-target=".header-search">
	            </span>
	            <i class="fa fa-search fa-flip-horizontal search-icon"></i>
	            </a>
	          	-->

          <!-- mobile collapse menu button - data-toggle="toggle" = default BS menu - data-toggle="jpanel-menu" = jPanel Menu -->
          
          <!--everything within this div is collapsed on mobile-->
          <div class="pull-left">
            <!--main navigation-->
            <ul class="nav navbar-nav">
              <li class="home-link">
                <a href="/"><i class="fa fa-home"></i><span class="hidden">Home</span></a>
              </li>
              <% if user_signed_in? %>

              <% else %>

              <% end %>   
            </ul>
          </div>
          <!--/.navbar-collapse -->
          </div>
        </div>
      </div>
    </div>
  </div>


  <%= yield %>


  <!-- FOOTER -->

  <!-- ======== @Region: #footer ======== -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col">
          <div class="block contact-block">
            <!--@todo: replace with company contact details-->
            <h3>
              Contact Us
            </h3>
            <address>
              <ul class="fa-ul">
                <li>
                  <abbr title="Phone"><i class="fa fa-li fa-phone"></i></abbr>
                  0(41) 3361 4906
                </li>
                <li>
                  <abbr title="Email"><i class="fa fa-li fa-envelope"></i></abbr>
                  bioinfo@ufpr.br
                </li>
                <li>
                  <abbr title="Address"><i class="fa fa-li fa-home"></i></abbr>
                  Rua Dr. Alcides Vieira Arcoverde, 1225 - Jardim das Américas
  				CEP: 81520-260 - Curitiba - PR
                </li>
              </ul>
            </address>
          </div>
        </div>
        
        <div class="col-md-5 col">
          <div class="block">
            <h3>
              About
            </h3>
            <p>Perform analysis of RNA-Seq with maximum performance and accuracy.!</p>
          </div>
        </div>
        
        <div class="col-md-4 col">
          <div class="block newsletter">
            <h3>
              Newsletter
            </h3>
            <p>Stay up to date with our latest news and product releases by signing up to our newsletter.</p>
            <!--@todo: replace with mailchimp code-->
            <form role="form">
              <div class="input-group input-group-sm">
                <label class="sr-only" for="email-field">Email</label>
                <input type="text" class="form-control" id="email-field" placeholder="Email">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div id="toplink">
          <a href="#top" class="top-link" title="Back to top">Back To Top <i class="fa fa-chevron-up"></i></a>
        </div>
        <!--@todo: replace with company copyright details-->
        <div class="subfooter">
          <div class="col-md-6">
            <p><a href="appstraptheme.com">3R - UFPR</a> | Copyright 2014 &copy; BioInformatics-UFPR</p>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
